<style>

    .edform-background {
        width: 500px;
        height: 300px;
        position: absolute;
        margin-left: 100px;
        margin-top: 30px;
    }
</style>

<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="layui-elem-field layuimini-search">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">开户姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="userName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">银行卡号码</label>
                            <div class="layui-input-inline">
                                <input type="text" name="bankNo" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">银行名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="bankName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">开户地址</label>
                            <div class="layui-input-inline">
                                <input type="text" name="bankAddress" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn" lay-submit="bankSerach" lay-filter="data-search-btn">搜索</a>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <div class="layui-btn-group">
            <button class="layui-btn data-add-btn">添加</button>
            <button class="layui-btn layui-btn-danger data-delete-btn">删除</button>
        </div>
        <table class="layui-hide" id="orderTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>
    </div>
</div>

<div id="edite_form" style="display: none">

    <div class="edform-background" align="center">

        <form class="layui-form" lay-filter="orderform">

            <div class="layui-form-item" style="display: none">
                <input type="text" name="id" placeholder="" autocomplete="off" class="layui-input" disabled>
            </div>
            <div class="layui-form-item" style="display: none">
                <input type="text" name="orderMoney" placeholder="" autocomplete="off" class="layui-input" disabled>
            </div>
            <div class="layui-form-item">
                <input type="text" name="orderNo" placeholder="" autocomplete="off" class="layui-input" disabled>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">订单状态</label>
                <div class="layui-input-block">
                    <select name="payState" lay-verify="required">
                        <option value=""></option>
                        <option value="0">未支付</option>
                        <option value="1">已支付</option>
                        <option value="2">已取消</option>
                    </select>
                </div>
            </div>


            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="ordersave">保存</button>
            </div>
        </form>
    </div>

</div>


<script>
    layui.use(['form', 'table'], function () {
        const $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        let saveWindow = 0;

        table.render({
            elem: '#orderTableId',
            url: '[[${orderList}]]',
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {field: 'id', width: 80, title: 'ID', sort: true},
                    {field: 'orderNo', width: 250, title: '订单编号'},
                    {field: 'orderMoney', width: 120, title: '金额', sort: true},
                    {field: 'payStateDesc', width: 200, title: '订单状态', align: "center"},
                    {field: 'bankNo',  minWidth: 50, title: '账号', align: "center"},
                    {field: 'bankName',width: 100, title: '银行名称'},
                    {title: '操作',width: 150, templet: '#currentTableBar', fixed: "right", align: "center"}
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            response: {
                statusName: "code",
                statusCode: 0,
                msgName: "message",
                countName: "totalPage",
                dataName: "data"
            },
            parseData: function (resp) {
                return {
                    "code": resp.code,
                    "msg": resp.message,
                    "count": resp.totalPage,
                    "data": resp.data
                }
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            const result = JSON.stringify(data.field);
            //执行搜索重载
            table.reload('orderTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');
            return false;
        });


        form.on('submit(ordersave)', function (data) {
            $.post({
                url: '[[${orderListSave}]]',
                data: JSON.stringify(data.field),
                dataType: "json",
                contentType: 'application/json',
                success: function (res) {
                    if (res.success) {
                        layer.msg("操作成功");
                        layer.close(saveWindow);
                        table.reload('orderTableId', {
                            url: '[[${orderList}]]',
                            page: {
                                curr: 1
                            }
                        });
                    } else {
                        layer.msg(res.data.message)
                    }
                },
                error: function (res) {
                    layer.msg(res)
                }
            });
            return false;
        });

        // 监听删除操作
        $(".data-delete-btn").on("click", function () {
            const checkStatus = table.checkStatus('orderTableId')
                , data = checkStatus.data;
            layer.alert(JSON.stringify(data));
        });

        // 监听添加操作
        $(".data-add-btn").on("click", function () {
            form.val("orderform", {
                'id': "",
                'userName': "",
                'bankCode': "",
                'bankNo': "",
                'bankName': "",
                'bankAddress': "",
                'todyMoney': "",
                'totalMoney': "",
                'bankBalance': "",
                'preDayLimitMoney': "",
            });
            openBankWindow()
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            const data = obj.data;
            if (obj.event === 'edit') {
                form.val("orderform", {
                    'id': data.id,
                    'orderNo': data.orderNo,
                    'orderMoney': data.orderMoney,
                    'payStateDesc': data.payStateDesc,
                    'payState': data.payState,
                    'bankNo': data.bankNo,
                    'bankName': data.bankName,
                    'bankAddress': data.bankAddress,
                    'todyMoney': data.todyMoney,
                    'totalMoney': data.totalMoney,
                    'bankBalance': data.bankBalance,
                    'preDayLimitMoney': data.preDayLimitMoney,
                });
                openBankWindow()
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            }
        });

        function openBankWindow() {
            saveWindow = layer.open({
                type: 1,
                area: ['700px', '700px'],
                shade: 0,
                content: $("#edite_form")
            });
        }

    });
</script>